@using AssoFlex.Models
@using System.Security.Claims
@using AssoFlex.Controllers
@using System.ComponentModel
@using System.Linq.Expressions
@model AssoFlex.ViewModels.LayoutModelView

@{
    Layout = "_LayoutDashboard";
}


@* <div class="container"> *@
@*     <div class="row justify-content-center"> *@
@*         <div > *@
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modification Profil</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                <div >
                    @Html.Label("  Type d'évènement : ")
                    <select asp-for="@Model.Evenement.CategorieEvent" asp-items="Html.GetEnumSelectList<EventTypes>()"> </select>
                    @Html.ValidationMessageFor(model => model.Evenement.CategorieEvent)
                    <br/>
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @Html.Label("Nom de l'évènement : ")
                    <br/>
                </div>
                <div class="date-field">
                    @Html.TextBoxFor(model => model.Evenement.NomEvent, new {@class = "form-control", placeholder = "ex : Birdy Nam Nam en concert"})
                    @Html.ValidationMessageFor(model => model.Evenement.NomEvent)
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @Html.Label("Lieu : ")
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(model => model.Evenement.LieuEvent, new {@class = "form-control", placeholder = "ex : Nom de la salle de concert"})
                    @Html.ValidationMessageFor(model => model.Evenement.LieuEvent)
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @Html.Label("Date et heure de début de l'évènement : ")
                </div>
                <br/>
                <div class="date-field">
                    @Html.TextBoxFor(model => model.Evenement.DateDebutEvent, new {@class = "form-control", placeholder = "AAAA/MM/JJ HH,MM,SS"})
                    @Html.ValidationMessageFor(model => model.Evenement.DateDebutEvent)
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @Html.Label("Date et heure de fin : ")
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(model => model.Evenement.DateFinEvent, new {@class = "form-control", placeholder = "AAAA/MM/JJ HH,MM,SS"})
                    @Html.ValidationMessageFor(model => model.Evenement.DateFinEvent)
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @Html.Label("Nombre de places disponibles à la vente : ")
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(model => model.Evenement.NbTickets, new {@class = "form-control", placeholder = "ex : 150 "})
                    @Html.ValidationMessageFor(model => model.Evenement.NbTickets)
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @Html.Label("Prix (€) : ")
                    @Html.TextBoxFor(model => model.Evenement.Prix, new {@class = "form-control", placeholder = "ex : 15 "})
                    @Html.ValidationMessageFor(model => model.Evenement.Prix)
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @Html.Label("Description : ")
                    @Html.TextAreaFor(model => model.Evenement.Description, new {@class = "form-control", placeholder = "exemple : Le collectif POUTOU PRESIDENT vous convie à une journée sur le thème sauve la planète, mange un riche. "})
                    @Html.ValidationMessageFor(model => model.Evenement.Description)
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @Html.Label("Vidéo YouTube : ")
                    @Html.TextAreaFor(model => model.Evenement.ytURL, new {@class = "form-control", placeholder = "youtube.com/watch?v=MateuszEstTropBeau"})
                    @Html.ValidationMessageFor(model => model.Evenement.ytURL)
                </div>
                <br/>
                <!-- Submit Button-->
                <button class="btn btn-primary btn-xl" type="submit">Créer</button>
                }
            </div>
        </div>
    </div>
</div>