@model AssoFlex.ViewModels.LayoutModelView
@{
     
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet"> 
<script src="https://code.jquery.com/jquery-1.10.2.js"></script> 
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 

<script>  
   $(function() {
       $( ".datepick" ).datepicker({
       altField: "#datepicker",
       closeText: 'Fermer',
       prevText: 'Précédent',
       nextText: 'Suivant',
       currentText: 'Aujourd\'hui',
       monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
       monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
       dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
       dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
       dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
       weekHeader: 'Sem.',
       dateFormat: 'yy-mm-dd'
       });
   }); 
</script>  

<title>AssoFlex - Modifier mon évènement</title>
</head>






<body>
<h4>Modifier @Model.Evenement.NomEvent</h4>

<div class="container">

    <!-- Icon Divider-->
    @* <div class="divider-custom"> *@
    @*     <div class="divider-custom-line"></div> *@
    @*     <div class="divider-custom-icon"><i class="fas fa-star"></i></div> *@
    @*     <div class="divider-custom-line"></div> *@
    @* </div> *@
    <div class="row justify-content-center">
        <div >
            @using (Html.BeginForm())
            {
                <div>@Html.HiddenFor(model =>model.Evenement.IdEvent)</div>
                            
                <div class="form-floating mb-3">
                    @*@Html.Label("Nom de l'évènement : ")*@
                    @Html.TextBoxFor(model => model.Evenement.NomEvent, new {@class = "form-control", placeholder = @Model.Evenement.NomEvent})
                    @Html.ValidationMessageFor(model => model.Evenement.NomEvent)
                </div>
                <br/>
                            
                        
                <div class="col-lg-8 col-xl-7">
                        
                        
                    @Html.Label("  Type d'évènement : ")
                    <select asp-for="@Model.Evenement.CategorieEvent" asp-items="Html.GetEnumSelectList<EventTypes>()"> </select>
                    @Html.ValidationMessageFor(model => model.Evenement.CategorieEvent)
                    <br/>
                </div>

                <br/>
                <div class="form-floating mb-3">
                    @*@Html.Label("Lieu : ")*@
                    @Html.TextBoxFor(model => model.Evenement.LieuEvent, new {@class = "form-control", placeholder = @Model.Evenement.LieuEvent})
                    @Html.ValidationMessageFor(model => model.Evenement.LieuEvent)
                </div>
                <br/>
                <div class="date-field">
                    @*
                            @Html.Label("Date et heure de début de l'évènement : ")
                            *@
                    @Html.TextBoxFor(model => model.Evenement.DateDebutEvent, new {@class = "form-control datepick",@type="text",@id="datepick1", placeholder = @Model.Evenement.DateDebutEvent})
                    @Html.ValidationMessageFor(model => model.Evenement.DateDebutEvent)
                </div>
                <br/>
                <div class="date-field">
                    @*
                            @Html.Label("Date et heure de fin : ")
                            *@
                    @Html.TextBoxFor(model => model.Evenement.DateFinEvent, new {@class = "form-control datepick",@type="text",@id="datepick2", placeholder = @Model.Evenement.DateFinEvent})
                    @Html.ValidationMessageFor(model => model.Evenement.DateFinEvent)
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @*
                            @Html.Label("Nombre de places disponibles à la vente : ")
                            *@
                    @Html.TextBoxFor(model => model.Evenement.NbTickets, new {@class = "form-control", placeholder = @Model.Evenement.DateFinEvent})
                    @Html.ValidationMessageFor(model => model.Evenement.NbTickets)
                </div>
                <br/>

                <div class="form-floating mb-3">
                    @Html.Label("Prix (€) : ")
                    @Html.TextBoxFor(model => model.Evenement.Prix, new {@class = "form-control", placeholder = "ex : 15 "})
                    @Html.ValidationMessageFor(model => model.Evenement.Prix)
                            
                </div>
                
                <div class="form-floating mb-3">
                    @Html.Label("Votre vidéo : ")
                    @Html.TextBoxFor(model => model.Evenement.ytURL, new {@class = "form-control", placeholder = @Model.Evenement.ytURL})
                    @Html.ValidationMessageFor(model => model.Evenement.ytURL)
                            
                </div>




                <!-- Submit Button-->
                <button class="btn btn-primary btn-xl" type="submit">Modifier</button>
            }
        </div>
    </div>
</div>
</body>
</html>