@using AssoFlex.Models
@using System.Security.Claims
@using AssoFlex.Controllers
@model AssoFlex.Models.Evenement


@{
    Layout = "_Layout";
}

<h1 class="page-section-heading text-center mb-0">Créez votre évènement </h1>
<body>
  <section class="page-section portfolio mt-5">
    @if (User.IsInRole("Admin-Asso"))
    {
        <div class="container">

            <!-- Icon Divider-->
            @* <div class="divider-custom"> *@
            @*     <div class="divider-custom-line"></div> *@
            @*     <div class="divider-custom-icon"><i class="fas fa-star"></i></div> *@
            @*     <div class="divider-custom-line"></div> *@
            @* </div> *@
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    @using (Html.BeginForm())
                    {
                        <div class="form-floating mb-3">
                            @Html.Label("Nom de l'évènement : ")
                            </div>
                        <br/>
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.NomEvent, new {@class = "form-control", placeholder = "ex : Birdy Nam Nam en concert"})
                            @Html.ValidationMessageFor(model => model.NomEvent)
                        </div>
                        <br/>
                            
                        
                        <div class="form-floating mb-3">
                            @Html.Label("Type d'évènement : ")
                            </div>
                        <br/>
                        <div class="form-floating mb-3">
                            
                            @Html.TextBoxFor(model => model.CategorieEvent, new {@class = "form-control", placeholder = "ex : Concert"})
                            @Html.ValidationMessageFor(model => model.CategorieEvent)
                        </div>
                        <br/>
                        <div class="form-floating mb-3">
                            @Html.Label("Lieu : ")
                            </div>
                                                    <br/>
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.LieuEvent, new {@class = "form-control", placeholder = "ex : Nom de la salle de concert"})
                            @Html.ValidationMessageFor(model => model.LieuEvent)
                        </div>
                        <br/>
                        <div class="form-floating mb-3">
                            @Html.Label("Date et heure de début de l'évènement : ")
                            </div>
                                                    <br/>
                                                    <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.DateDebutEvent, new {@class = "form-control", placeholder = "AAAA/MM/JJ HH,MM,SS"})
                            @Html.ValidationMessageFor(model => model.DateDebutEvent)
                        </div>
                        <br/>
                        <div class="form-floating mb-3">
                            @Html.Label("Date et heure de fin : ")
                            </div>
                                                    <br/>
                                                    <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.DateFinEvent, new {@class = "form-control", placeholder = "AAAA/MM/JJ HH,MM,SS"})
                            @Html.ValidationMessageFor(model => model.DateFinEvent)
                        </div>
                        <br/>
                        <div class="form-floating mb-3">
                            @Html.Label("Nombre de places disponibles à la vente : ")
                            </div>
                                                    <br/>
                                                    <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.NbTickets, new {@class = "form-control", placeholder = "ex : 150 "})
                            @Html.ValidationMessageFor(model => model.NbTickets)
                        </div>
                        <br/>





                        <!-- Submit Button-->
                        <button class="btn btn-primary btn-xl" type="submit">Créer</button>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Veuillez vous connecter sur un compte administrateur.</p>
    }
  </section>
</body>
