@model AssoFlex.ViewModels.EvenementViewModel

@{
    ViewBag.Title = "Détails ";
    Layout = "_Layout";
}
<div class="container p-5 my-5 bg-dark text-white text-center">
    <h2>@Model.Evenements.NomEvent</h2>
    <br/>
    <h6>Type : @Model.Evenements.CategorieEvent</h6>
    
    
    @*<h6>Organisateur : @Model.Evenements.Organisateur.Nom</h6>*@
    
    
    <h6>Lieu : @Model.Evenements.LieuEvent</h6>
    <h6>Commencement : @Model.Evenements.DateDebutEvent</h6>
    <h6>Fin : @Model.Evenements.DateFinEvent</h6>
    <h6>Places restantes : @Model.Evenements.NbTickets</h6>
    
    @if (User.IsInRole("Admin-Asso"))
    {
        <a href=@Url.Action("ModifEvent","Evenement",new {id = @Model.Evenements.IdEvent})>Modifier cet évènement</a>
    }
</div>

