@model System.Collections.Generic.List<AssoFlex.Models.Evenement>


@{
    Layout = "_Layout";
}
<h1>Bienvenue sur l'espace billetterie</h1>
<br/>
<div>
    <label for="site-search">Search the site:</label>
    <input type="search" id="site-search" name="q">
    <button class="btn fa-searchengin" type="submit" >Rechercher</button>
    
    
</div>
<br/>
<p>Evènements à venir :</p>
<br/>
<table>
    <tr>
        <th>Date</th>
        <th>Lieu</th>
        <th>Nom de l'évènement</th>
        <th>Organisateur</th>
    </tr>
    @foreach (var evenements in Model)
    {
        <tr>
            <td>@evenements.DateDebutEvent</td>
            <td>@evenements.LieuEvent</td>
            <td><a href=@Url.Action("Details","Evenement",new {id = @evenements.IdEvent})>@evenements.NomEvent</a></td>
            <td>@evenements.Organisateur.Nom</td>
        </tr>
    }
</table>

<br/>

<a href=@Url.Action("AchatTicket", "Evenement")>Acheter un billet</a>

<br/>

<a href=@Url.Action("CreerEvent")>Créer un évènement</a>
