@model AssoFlex.Models.Evenement

@{
    Layout = null;
}
<!doctype html>  
<html lang="en">  
   <head>  
      <meta charset="utf-8">  
      <title>Modification évènement</title>  
      <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
      <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>  
      <!-- Javascript -->  
      <script>  
         $(function() {
             $( "#datepick" ).datepicker({
             altField: "#datepicker",
             closeText: 'Fermer',
             prevText: 'Précédent',
             nextText: 'Suivant',
             currentText: 'Aujourd\'hui',
             monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
             monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
             dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
             dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
             dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
             weekHeader: 'Sem.',
             dateFormat: 'yy-mm-dd'
             });
         }); 
      </script>  
   </head> 
<body>
<title>AssoFlex - Modifier mon évènement</title>
<h4>Modifier @Model.NomEvent</h4>

<div class="container">

    <!-- Icon Divider-->
    @* <div class="divider-custom"> *@
    @*     <div class="divider-custom-line"></div> *@
    @*     <div class="divider-custom-icon"><i class="fas fa-star"></i></div> *@
    @*     <div class="divider-custom-line"></div> *@
    @* </div> *@
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            @using (Html.BeginForm())
            {
                <div>@Html.HiddenFor(model =>model.IdEvent)</div>
                            
                <div class="form-floating mb-3">
                    @*@Html.Label("Nom de l'évènement : ")*@
                    @Html.TextBoxFor(model => model.NomEvent, new {@class = "form-control", placeholder = @Model.NomEvent})
                    @Html.ValidationMessageFor(model => model.NomEvent)
                </div>
                <br/>
                            
                        
                <div class="col-lg-8 col-xl-7">
                        
                        
                    @Html.Label("  Type d'évènement : ")
                    <select asp-for="@Model.CategorieEvent" asp-items="Html.GetEnumSelectList<EventTypes>()"> </select>
                    @Html.ValidationMessageFor(model => model.CategorieEvent)
                    <br/>
                </div>

                <br/>
                <div class="form-floating mb-3">
                    @*@Html.Label("Lieu : ")*@
                    @Html.TextBoxFor(model => model.LieuEvent, new {@class = "form-control", placeholder = @Model.LieuEvent})
                    @Html.ValidationMessageFor(model => model.LieuEvent)
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @*
                            @Html.Label("Date et heure de début de l'évènement : ")
                            *@
                    @Html.TextBoxFor(model => model.DateDebutEvent, new {@class = "form-control", @type="text", @id="datepick", placeholder = @Model.DateDebutEvent})
                    @* <p>Date: <input type="text" id="datepick"></p> *@
                    @Html.ValidationMessageFor(model => model.DateDebutEvent)
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @*
                            @Html.Label("Date et heure de fin : ")
                            *@
                    @Html.TextBoxFor(model => model.DateFinEvent, new {@class = "form-control", placeholder = @Model.DateFinEvent})
                    @Html.ValidationMessageFor(model => model.DateFinEvent)
                </div>
                <br/>
                <div class="form-floating mb-3">
                    @*
                            @Html.Label("Nombre de places disponibles à la vente : ")
                            *@
                    @Html.TextBoxFor(model => model.NbTickets, new {@class = "form-control", placeholder = @Model.DateFinEvent})
                    @Html.ValidationMessageFor(model => model.NbTickets)
                </div>
                <br/>

                <div class="form-floating mb-3">
                    @Html.Label("Prix (€) : ")
                    @Html.TextBoxFor(model => model.Prix, new {@class = "form-control", placeholder = "ex : 15 "})
                    @Html.ValidationMessageFor(model => model.Prix)
                            
                </div>
                <!-- Submit Button-->
                <button class="btn btn-primary btn-xl" type="submit">Modifier</button>
            }
        </div>
    </div>
</div>
</body>
</html>