@model AssoFlex.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard Admin";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style-2.css"/>
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(https://localhost:5001/assets/img/profile.png);"></a>
                <ul class="list-unstyled components mb-5">
                    @if (User.IsInRole("Admin-Asso"))
                    {
                        <li class="active">
                            <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admin</a>
                            <ul class="collapse list-unstyled show" id="adminSubmenu">
                                <li>
                                    <a href="#">Asso 1</a>
                                </li>
                                <li>
                                    <a href="#">Asso 2</a>
                                </li>
                                <li>
                                    <a href="#">Asso 3</a>
                                </li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="#profilSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Profil</a>
                        <ul class="collapse list-unstyled show" id="profilSubmenu">
                            <li>
                                <a href="#" id="overview">Overview</a>
                            </li>
                            <li>
                                <a href="#">Modifier</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">Votre activité</a>
                        <ul class="collapse list-unstyled show" id="pageSubmenu">
                            <li>
                                <a href="#">Adhésions</a>
                            </li>
                            <li>
                                <a href="#">Évenements</a>
                            </li>
                            <li>
                                <a href="#">Crownfundings</a>
                            </li>
                        </ul>
                    </li>
                    @* <li> *@
                    @*     <a href="#">Contact</a> *@
                    @* </li> *@
                </ul>
                <div class="footer">
                    <a href=@Url.Action("Deconnexion", "Login")>Deconnexion</a>
                </div>
                @* <div class="footer"> *@
                @* <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> *@
                @* Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a> *@
                @* <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p> *@
                @* </div> *@
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href=@Url.Action("Index","Home")>Acceuil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                    </svg>
                                </a>
                            </li>
                            @* <li class="nav-item"> *@
                            @*     <a class="nav-link" href="#">Contact</a> *@
                            @* </li> *@
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container" id="dashboardContent">
                <div class="container p-5 my-5 bg-dark text-white" style="text-align: center;">
                    <h1>Liste des associations</h1>
                </div>
                <div class="container mt-auto">
                    <table class="table-responsive">
                        <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>SIRET</th>
                            <th>Inscription</th>
                            <th>Administrateur</th>
                            <th></th>
                        </tr>
                        </thead>
                        
                        @foreach (var association in Model.Associations)
                        {
                            <tr>
                                <td>@association.Id</td>
                                <td>@association.Nom</td>
                                <td>@association.NumSiret</td>
                                <td>@association.DateInscription</td>
                                <th>@association.AdminAsso.Prenom @association.AdminAsso.Nom</th>
                                <td><a class="link-primary" href=@Url.Action("DetailsAssociation","Association",new {id = @association.Id})> Voir Détails</a></td>
                                <td></td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="container p-5 my-5 bg-dark text-white" style="text-align: center;">
                    <h1>Liste des membres</h1>
                </div>
                <div class="container mt-auto">
                    <table class="table-responsive">
                        <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Prenom</th>
                            <th>Nom</th>
                            <th>Adresse</th>
                            <th>Telephone</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        
                        @foreach (var user in Model.Utilisateurs)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.Prenom</td>
                                <td>@user.Nom</td>
                                <td>@user.Adresse</td>
                                <td>@user.Telephone</td>
                                <td>@user.Email</td>
                                <td>@user.Role</td>
                                @* <td><a class="link-primary" href=@Url.Action("DetailsAssociation","Association",new {id = @association.Id})> Voir Détails</a></td> *@
                            </tr>
                        }
                    </table>
                </div>
                <div class="container p-5 my-5 bg-dark text-white" style="text-align: center;">
                    <h1>Liste des adhésions</h1>
                </div>
                <div class="container mt-sm-auto">
                    <table class="table-responsive">
                        <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Associaiton</th>
                            <th>Utilisateur</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                        </tr>
                        </thead>
                        
                        @foreach (var adh in Model.Adhesions)
                        {
                            <tr>
                                <td>@adh.Id</td>
                                <td>@adh.Association.Nom</td>
                                <td>@adh.Utilisateur.Prenom @adh.Utilisateur.Nom</td>
                                <td>@adh.DateDebut</td>
                                <td>@adh.DateFin</td>
                                @* <td><a class="link-primary" href=@Url.Action("DetailsAssociation","Association",new {id = @association.Id})> Voir Détails</a></td> *@
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="container" id="overviewContent">
                @using (Html.BeginForm())
                {
                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(model => model.Admin.Prenom)
                        @Html.LabelFor(model => model.Admin.Prenom)
                        @Html.ValidationMessageFor(model => model.Admin.Prenom)
                    </div>

                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(model => model.Admin.Nom)
                        @Html.LabelFor(model => model.Admin.Nom)
                        @Html.ValidationMessageFor(model => model.Admin.Nom)
                    </div>

                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(model => model.Admin.Adresse)
                        @Html.LabelFor(model => model.Admin.Adresse)
                        @Html.ValidationMessageFor(model => model.Admin.Adresse)
                    </div>

                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(model => model.Admin.Telephone)
                        @Html.LabelFor(model => model.Admin.Telephone)
                        @Html.ValidationMessageFor(model => model.Admin.Telephone)
                    </div>

                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(model => model.Admin.Email)
                        @Html.LabelFor(model => model.Admin.Email)
                        @Html.ValidationMessageFor(model => model.Admin.Email)
                    </div>

                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(model => model.Admin.Password)
                        @Html.LabelFor(model => model.Admin.Password)
                        @Html.ValidationMessageFor(model => model.Admin.Password)
                    </div>
                }
            </div>
        </div>
    </div>

	<script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>
