@using System.Security.Claims
@model  AssoFlex.Models.IWidgetEvent

<div class="card col-3 m-5">
    <div class="@Model.LieuEvent">
        <div class="card-header">
            @Model.NomEvent
        </div>
        <div class="card-body">
            @Html.Partial(string.Concat(new[] { "Widget", 
                "/", "_SubWidgetEvent" }), @Model.SubWidgetEvent)
        </div>
        <div class="card-footer">
            <a href=@Url.Action("Details","Evenement", new {id=@Model.IdEvent}) class="btn btn-outline-primary">Voir Détails</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a href=@Url.Action("AchatTicket", "Evenement", new {idEvent = @Model.IdEvent, idUser = User.FindFirst(ClaimTypes.NameIdentifier).Value}) class="btn btn-primary">Acheter</a>
            }
        </div>
    </div>
</div>
