@model  AssoFlex.Models.IWidget


 
<div class="widget">
    <div class="@Model.Nom">
 
        <div class="header">
            @Model.AdminAsso.Email
        </div>
        <div class="body">
 
            @Html.Partial(string.Concat(new[] { "Widget", 
                "/", "_SubWidget" }), @Model.SubWidget)
 
        </div>
        <div class="footer">
            @Model.DateInscription
        </div>
    </div>
</div>