@using System.Security.Claims
@model  AssoFlex.Models.IWidgetCF

<div class="card col-3 m-5" style="border-radius: 10px">
    <div class="@Model.CategorieProjet">
        <div class="card-header" style="background-color: #ffffff">
          <img src="~/assets/img/@Model.ImageCrowdfunding" class="card-img-top">
        </div>
        <div class="card-body @*text-center*@">
            <div class="text-center">
                <a >@Model.Nom, projet de @Model.PorteurDuProjet.Nom</a>
                </div>
            @Html.Partial(string.Concat(new[]
            {
                "Widget", "/", "_SubWidgetCF"
            }), @Model.SubWidgetCF)
        </div>
        <div class="card-footer" style="background-color: #ffffff">
            <a href=@Url.Action("DetailsCrowdfunding", "Crowdfunding", new {id = @Model.Id}) class="btn btn-outline-primary">
                Voir Détails
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                <a href=@Url.Action("Contribute","Crowdfunding", new {@cfId = @Model.Id, 
                            @userId = User.FindFirst(ClaimTypes.NameIdentifier).Value}) class="btn btn-primary">Contribuer</a>
            }
        </div>
    </div>
</div>
