@using System.Security.Claims
@model  AssoFlex.Models.IWidgetCF

<div class="card shadow" style="border-radius: 15px;align-self: center;margin: 1rem"> @*col-3 m-5*@
    <div class="card-header" style="background-color: #ffffff">
        <img src="~/assets/img/@Model.ImageCrowdfunding" alt="img-cf" class="croppedCard card-img-top">
        <span class="badge badge-pill badge-warning">@Enum.GetName(typeof(TypesProjet),Convert.ToInt32(Model.CategorieProjet))</span>
    </div>
    <div class="card-body" style="width: 260px;height: 250px">
        <a >@Model.Nom, projet de @Model.PorteurDuProjet.Nom</a>
        @Html.Partial(string.Concat(new[]
        {
            "Widget", "/", "_SubWidgetCF"
        }), @Model.SubWidgetCF)
    </div>
    <div class="card-footer" style="background-color: #ffffff">
        <a href=@Url.Action("DetailsCrowdfunding", "Crowdfunding", new {id = @Model.Id}) class="btn btn-outline-primary">
            Voir Détails
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            <a data-toggle="modal" data-target="#ContributeCFModal" href=@Url.Action("Contribute","Crowdfunding", new {@cfId = @Model.Id, 
                        @userId = User.FindFirst(ClaimTypes.NameIdentifier).Value}) class="btn btn-primary">Contribuer</a>
            
        }
    </div>
</div>
<div class="modal fade" id="ContributeCFModal" tabindex="-1" role="dialog" aria-labelledby="Update" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choisissez votre montant</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateCrowdfunding", "Crowdfunding", FormMethod.Post,new {enctype="multipart/form-data"}))
                {
                    <div >
                        @Html.Label("  Saisissez votre : ")
                        @Html.DisplayFor(model => Model.PorteurDuProjet)
                        @Html.ValidationMessageFor(model => Model.PorteurDuProjet)
                        <br/>
                    </div>
                    <br/>
                    <button class="btn btn-primary btn-xl" type="submit">Valider</button>
                }
            </div>
        </div>
    </div>
</div>
