@model  AssoFlex.Models.IWidget



<div class="card col-3 m-5">
    <div class="@Model.AdminAsso.Prenom">
 
        <div class="card-header">
            @Model.Nom
        </div>
        <div class="card-body">
 
            @Html.Partial(string.Concat(new[] { "Widget", 
                "/", "_SubWidget" }), @Model.SubWidget)
 
        </div>
        <div class="card-footer">
            @Model.DateInscription
        </div>
    </div>
</div>
