@model System.Collections.Generic.List<AssoFlex.Models.Evenement>

@{
    ViewBag.Title = "Mes évènements";
    Layout = "_LayoutDashboard";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Liste de mes évènements
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm" id="crowdfundingTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        @* <th>Utilisateur</th> *@
                        <th>Organisateur</th>
                        @* <th>Montant encours</th> *@
                        @* <th>Ma participation</th> *@
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var evenement in Model)
                    {
                        <tr>
                            <td>@evenement.IdEvent</td>
                            <td>@evenement.NomEvent</td>
                            <td>@evenement.Organisateur.Nom</td>
                            <td>@evenement.DateDebutEvent</td>
                            <td>@evenement.DateFinEvent</td>
                            @* <td>@evenement.Reservation</td> *@
                            @* <td>@adhesion.Statut</td> *@
                            <td>
                                <span class="badge badge-success">Active</span>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>

@section Scripts
{
    <script>
        $(document).ready( function () {
            $('#crowdfundingTable').DataTable();
        } );
    </script>
}
