@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model AssoFlex.ViewModels.LayoutModelView
@{
    Layout = "_Layout";
}
@* <!DOCTYPE html> *@
@* <html lang="en"> *@
@* <head> *@
@*     <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet"> *@
@*     <script src="https://code.jquery.com/jquery-1.10.2.js"></script> *@
@*     <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> *@
@* *@
@*     <script>   *@
@*    $(function() { *@
@*        $( ".datepick" ).datepicker({ *@
@*        altField: "#datepicker", *@
@*        closeText: 'Fermer', *@
@*        prevText: 'Précédent', *@
@*        nextText: 'Suivant', *@
@*        currentText: 'Aujourd\'hui', *@
@*        monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'], *@
@*        monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'], *@
@*        dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'], *@
@*        dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'], *@
@*        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'], *@
@*        weekHeader: 'Sem.', *@
@*        dateFormat: 'yy-mm-dd' *@
@*        }); *@
@*    });  *@
@* </script> *@
@* *@
@*     <title>AssoFlex - Créer mon crowdfunding</title> *@
@* </head> *@
@* *@
@* <body > *@

<div class="row justify-content-center">
    @using (Html.BeginForm())
    {
        <div class="col-lg-8 col-xl-7">


            @Html.Label("  Catégorie du projet : ")
            <select asp-for="@Model.Crowdfunding.CategorieProjet" asp-items="Html.GetEnumSelectList<TypesProjet>()"> </select>
            @Html.ValidationMessageFor(model => model.Crowdfunding.CategorieProjet)
            <br/>
        </div>

        <div class="form-floating-mb-3">
            @Html.Label("Nom du projet : ")
            @Html.TextBoxFor(model => model.Crowdfunding.Nom, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Crowdfunding.Nom)
        </div>
        <br/>
        
        <div class="form-floating-mb-3">
            @Html.Label("Description de mon projet : ")
            @Html.TextBoxFor(model => model.Crowdfunding.Description, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Crowdfunding.Description)
        </div>
        <br/>

        <div class="form-floating-mb-3">
            @Html.Label("Objectif de collecte : ")
            @Html.TextBoxFor(model => model.Crowdfunding.MontantProjet, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Crowdfunding.MontantProjet)
        </div>
        <br/>

        <div class="form-floating-mb-3">
            @Html.Label("Où votre projet se déroule-t-il ? ")
            @Html.TextBoxFor(model => model.Crowdfunding.LieuProjet, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Crowdfunding.LieuProjet)
        </div>
        <br/>
        <div class="date-field">
            @Html.LabelFor(model => model.Crowdfunding.DateDebutProjet, "Date de début")
            @Html.TextBoxFor(model => model.Crowdfunding.DateDebutProjet, new {@class = "form-control datepick",@type="text",@id="datepick1", placeholder = DateTime.Today})
            @Html.ValidationMessageFor(model => model.Crowdfunding.DateDebutProjet)
        </div>
        <br/>

        <div class="date-field">
            @Html.Label("Date prévisionnelle de fin de collecte :")
            @Html.TextBoxFor(model => model.Crowdfunding.DateFinProjet, new {@class = "form-control datepick",@type="text",@id="datepick2"})
            @Html.ValidationMessageFor(model => model.Crowdfunding.DateFinProjet)
        </div>


        <button class="btn btn-primary btn-xl" type="submit">Soumettre mon projet</button>
    }
</div>

@* </body> *@
@* *@
@* </html> *@