@using System.Security.Claims
@model AssoFlex.ViewModels.LayoutModelView

@{
    ViewBag.Title = Model.ContributionViewModel.Crowdfunding.Nom;
    Layout = "_Layout";
    var ratio = Model.ContributionViewModel.Collecte.MontantCollecte / Model.ContributionViewModel.Crowdfunding.MontantProjet * 100;
    var mailto = "mailto:" + Model.ContributionViewModel.Crowdfunding.PorteurDuProjet.AdminAsso.Email;
}
<div class="row  " style="text-align:center;vertical-align: center;height: 200px">
    <div class="col-12 text-center align-self-center" style="width:available">
        <strong>
            <h1 class="fa-display" style="font-size:40px">Ce projet en détails</h1><br/>
        </strong>
        <h3>
            <a class="fa-display" href=@Url.Action("Index", "Home")>Accueil</a> <a> / </a> <a class="fa-display" href=@Url.Action("Index", "Crowdfunding")>Crowdfundings</a> <a> / </a>
            <i>
                <a>@Model.ContributionViewModel.Crowdfunding.Nom</a>
            </i>
        </h3>
    </div>
</div>

<div class="container card" >

    <div class="row col-12" style="text-align:center;height:  400px">
        <div class="col-3 " style="vertical-align: center">

            <h4>
                <img src="~/FileSystem/@Model.ContributionViewModel.Crowdfunding.PorteurDuProjet.AdminAsso.ProfilImg" alt="userAvatar" class="rounded-circle" width="50px" height="40px"/>
                @Model.ContributionViewModel.Crowdfunding.PorteurDuProjet.AdminAsso.Prenom @Model.ContributionViewModel.Crowdfunding.PorteurDuProjet.AdminAsso.Nom, @Model.ContributionViewModel.Crowdfunding.PorteurDuProjet.Nom
            </h4>
            <h6>à @Model.ContributionViewModel.Crowdfunding.LieuProjet</h6>
            <img src="~/assets/logos/@Model.ContributionViewModel.Crowdfunding.PorteurDuProjet.AssoLogo" width="auto" height="auto"/>

            @*<h6>Commence le </h6>
                    <h6> @Html.DisplayFor(model => model.Crowdfunding.DateDebutProjet)</h6>
                    <h6>Termine le </h6>
                    @Html.DisplayFor(model => model.Crowdfunding.DateFinProjet)*@
        </div>
        <div class=" col-sm-9" style="height: 400px">
           
            <div class="carousel slide" id="carouselExampleCaptions" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li></li>
                    <li class="active" data-target="#carouselExampleCaptions" data-slide-to="0"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img src="~/assets/img/slide1.jpg" class="d-block w-100 cropped2" data-src="holder.js/800x400?auto=no&amp;bg=777&amp;fg=555&amp;text=First slide"
                             data-holder-rendered="true">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Titre de cette image</h3>
                            <p>Sous-titre</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/img/slide2.jpg" class="d-block w-100 cropped2" data-src="holder.js/800x400?auto=no&amp;bg=666&amp;fg=444&amp;text=Second slide" alt="Second slide [800x400]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160549c9275%20text%20%7B%20fill%3A%23444%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160549c9275%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23666%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22247.3203125%22%20y%3D%22217.75625%22%3ESecond%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                             data-holder-rendered="true">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Titre de cette image</h3>
                            <p>Sous-titre</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/img/slide3.jpg" class="d-block w-100 cropped2" data-src="holder.js/800x400?auto=no&amp;bg=555&amp;fg=333&amp;text=Third slide" alt="Third slide [800x400]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160549c9277%20text%20%7B%20fill%3A%23333%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160549c9277%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23555%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22277.0078125%22%20y%3D%22217.75625%22%3EThird%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                             data-holder-rendered="true">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Titre de cette image</h3>
                            <p>Sous-titre</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
            </div>
            <div class="col-3 w-100"></div>
        </div>


        <div class="row " >
            <div class="col-12 w-100">
                <ul id="skill2">
                    <li>
                        <span class="bar barre-bleue" style="width:@ratio%"></span>
                        <h3 style="text-align: center">@ratio%</h3>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row col-12 text-center align-self-center">
            <div class="col-4 align-self-center text-center">
                <a class="h-100">
                    <h6><i class="icon-calendar"></i> @Convert.ToInt32((Model.ContributionViewModel.Crowdfunding.DateFinProjet - DateTime.Now).TotalDays) jours restants</h6>
                </a>
            </div>
            <div class="col-4 align-self-center text-center">
                <h6> @Model.ContributionViewModel.Collecte.MontantCollecte€ collectés </h6>
            </div>
            <div class="col-4 align-self-center text-center">
                <h6>Type : @Enum.GetName(typeof(TypesProjet), Convert.ToInt32(Model.ContributionViewModel.Crowdfunding.CategorieProjet))</h6>
            </div>

            <div class="col-12 align-self-center text-justify">
                <h2>@Model.ContributionViewModel.Crowdfunding.Nom</h2>
                @Html.DisplayFor(m => m.ContributionViewModel.Crowdfunding.Description)
                <br> </br>

            </div>
        </div>
    </div>

</div>
<div class="row  " style="align-items: center;width: inherit;text-align: center">
    <div class="col-4 w-100" style=""></div>
    <div class="col-4 w-100" style="">
        @*<div class="row col-auto" style="text-align: center;width: available;position: center">*@

        @if (User.Identity.IsAuthenticated)
        {
            <a href=@Url.Action("Contribute", "Crowdfunding", new {cfId = Model.ContributionViewModel.Crowdfunding.Id, userId = User.FindFirst(ClaimTypes.NameIdentifier).Value}) class="btn btn-primary">Contribuer à ce projet</a>
        }
        @if (User.Identity.IsAuthenticated.Equals(false))
        {
            <a href=@Url.Action("Index", "Login") class="btn btn-primary">Contribuer à ce projet</a>
        }
        <br></br>
    </div>
    <div class="col-4 w-100" style=""></div>

</div>


@if (User.Identity.IsAuthenticated && Model.ContributionViewModel.Crowdfunding.PorteurDuProjet.AdminAsso.Prenom == User.Identity.Name)
{
    <a href=@Url.Action("UpdateCrowdfunding", "Crowdfunding", new {id = Model.ContributionViewModel.Crowdfunding.Id})>Modifier ce projet</a>
    <a href=@Url.Action("DeleteCrowdfunding", "Crowdfunding", new {id = Model.ContributionViewModel.Crowdfunding.Id})>Supprimer ce projet</a>
}