@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AssoFlex</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Icons-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/coreui/icons/css/coreui-icons.css" rel="stylesheet" />
    <link href="~/lib/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
    <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/lib/pace-progress/css/pace.css" rel="stylesheet" />
    <!-- MAIN CSS -->
    <link href="~/lib/coreui/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light btn-light sticky-top">
    <div class="container-fluid">
    	<a class="navbar-brand" href=@Url.Action("Index", "Home")><img src="~/assets/img/logo.png" alt="logo"></a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    		<span class="navbar-toggler-icon"></span>
    	</button>
	    <div class="collapse navbar-collapse" id="navbarResponsive">
		  
			<div class="navbar"  >
			    <a class="nav-item nav-link" href=@Url.Action("Index", "Home") >
				    Accueil
			    </a>
		
			    <a class="nav-item nav-link" href=@Url.Action("Index","Presentation")>
				    Présentation
			    </a>
			    <div class="nav-item dropdown">
				    <a class="" href="#" role="button" id="servicesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
					    Nos services
				    </a>
				    <div class="dropdown-menu dropdown-menu-right mt-13" aria-labelledby="servicesDropdown">
					    <a class="dropdown-item" href=@Url.Action("Index", "Crowdfunding")>
						    Crowdfunding
					    </a> 
					    <div class="dropdown-divider"></div>
					    <a class="dropdown-item" href=@Url.Action("Index", "Evenement")>
						    Évènement
					    </a> 
				    </div>
			    </div>
			    <a class="nav-link" href=@Url.Action("Index", "Association")>
				    Nos associations
			    </a>
		    </div>
		    <div class="navbar-nav ml-auto">
			    <a class="nav-item nav-link" href=@Url.Action("Index", "Souscription") style="color: #0c63e4; font-weight:700;">
				    Inscris Ton Asso
			    </a> @* @Url.Action("CreerAsso", "Association") *@
			    @{
				    if (User.Identity.IsAuthenticated)
				    {
					    <div class="nav-item dropdown justify-content-end">
						    <a class="" data-toggle="dropdown" href="#" role="button" id="profilDropdown" aria-haspopup="true" aria-expanded="False">
							    <b>Bonjour @User.Identity.Name</b>
							    <img src=@("/Dashboard/GetImageProfil/"+ User.FindFirst(ClaimTypes.NameIdentifier).Value) 
							         alt="userAvatar" class="rounded-circle" width="50px" height="40px"/>
						    </a>
						    <div class="dropdown-menu dropdown-menu-right mt-13" aria-labelledby="profilDropdown">
							    @if (User.IsInRole("Admin"))
							    {
								    <a class="dropdown-item" href=@Url.Action("DashboardAdmin", "Dashboard")>
									    <i class="fa fa-home"></i> Espace Personnel
								    </a>
							    }else if (User.IsInRole("Admin-Asso"))
							    {
								    <a class="dropdown-item" href=@Url.Action("Profil", "Dashboard", new {id = User.FindFirst(ClaimTypes.NameIdentifier).Value})>
									    <i class="fa fa-home"></i> Espace Personnel
								    </a>
							    }
							    else
							    {
								    <a class="dropdown-item" href=@Url.Action("Profil", "Dashboard", new {id = User.FindFirst(ClaimTypes.NameIdentifier).Value})>
									    <i class="fa fa-home"></i> Espace Personnel
								    </a>
							    }
							    
							    <div class="dropdown-divider"></div>
							    <a class="dropdown-item" href=@Url.Action("Deconnexion", "Login")>
								    <i class="fa fa-lock"></i> Deconnexion
							    </a>
						    </div>
					    </div>
				    }
				    else
				    {
					    <div class="dropdown">
						    <a class="nav-item nav-link" href=@Url.Action("Index", "Login") style="color: #157347; font-weight:700;"><b>Se Connecter</b></a>
					    </div>
				    }
			    }
		    </div>
		    
	    </div>
    </div>
</nav>
<div id="main">
	@* <div id="menu"> *@
	@*     <ul> *@
	@*         @RenderSection("Menu", required:false) *@
	@*     </ul> *@
	@* </div> *@
    <div id="content">
        @RenderBody()

		
    </div>
</div>
<!--- Footer -->
<footer>
    
    <div class="container-fluid padding">
        <div class="row text-center">

            <div class="col-md-4">
                @*<img src="~/assets/img/PNL.jpg"> *@
                <hr class="light">
                <p>+33 (0)7 55 17 23 16</p>
                <p>contact@assoflex.com</p>
                <p>31 rue de l'aurore</p>
                <p>78100, Saint-Germain-en-Laye, France</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Nos horaires</h5>
                <hr class="light">
                <p>Lundi, Mardi : 9h - 17h</p>
                <p>Mercredi,Jeudi : 12h - 17h</p>
                <p>Vendredi : Fermé</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Ville</h5>
                <hr class="light">
                <p>78100, Saint-Germain-en-Laye, France</p>
                <p>75000, Paris, France</p>
                <p>51100 , Reims, France</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&COPY; @DateTime.Now.Year - Assoflex.com</h5>
            </div>
        </div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- CoreUI and necessary plugins-->
<script src="~/lib/pace-progress/pace.min.js"></script>

<script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
<script src="~/lib/coreui/dist/js/coreui.min.js"></script>
<script src="~/lib/jquery-sdfilterme-master/jquery.sdFilterMe.js"></script>
<!-- Plugins and scripts required by this view-->
@*<script src="~/lib/chart.js/dist/Chart.min.js"></script>
<script src="~/lib/coreui/js/custom-tooltips.js"></script>
<script src="~/lib/coreui/js/main.js"></script>*@

<script src="~/js/site.min.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false) 

</body>
</html>

